
@tailwind base;
@tailwind components;
@tailwind utilities;


button.slick-next{
    z-index: 10;
    right: -30px;
    
}

  button.slick-prev{
    z-index: 10;
    left: -60px;

}

 button.slick-next::before{
    border: 1px solid black;
    color: rgb(0, 0, 0);
    content: '\276F';
    width: 50px;
    height: 50px;
    font-size: 40px;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;

    
}
 button.slick-prev::before{
    border: 1px solid black;
    color: rgb(0, 0, 0);
    content: '\276E';
    width: 50px;
    height: 50px;
    font-size: 40px;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
}


.custom-slider button.slick-next{
    right: 80px;
    z-index: 20;
}

.custom-slider  button.slick-prev{
    left: 20px;
    z-index: 20;

}

.custom-slider button.slick-next::before{
    color: red;
    content: '\276F';
    width: 80px;
    height: 80px;
    font-size: 40px;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
}
.custom-slider button.slick-prev::before{
    color: red;
    content: '\276E';
    width: 80px;
    height: 80px;
    font-size: 40px;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
}
